{% extends 'layout.html' %}
{% block content %}
<div class="container main-content">
    <h2 class="pb-2 text-danger">Encrypt PDF</h2>
    <form action="" method="POST" enctype="multipart/form-data">
        <div class="form-group mt-4 bg-dark text-white p-3 rounded-3 border-0">
            <input type="file" name="file" id="files" accept=".pdf" required>
        </div>
        <div id="preview-container" class="mt-4 mb-4 row justify-content-center" style="min-height: 50vh;">
            <div class="col-md-4 col-sm-6 col-12 mb-4">
                <h4>No files uploaded</h4>
            </div>
        </div>
        <div class="form-group mt-4 bg-dark text-white p-3 rounded-3 border-0">
            <label for="">Enter password</label><br>
            <input type="password" name="password" id="password">
            <i class="fa fa-eye" id="togglePassword" onclick="changePasswordVisibility()"></i>
        </div>
        <button type="submit" class="btn btn-danger">Encrypt PDF</button>
        <button type="reset" class="btn btn-secondary">Cancel</button>
    </form>
</div>
{% endblock %}