{% extends 'layout.html' %}
{% block content %}

<div class="container main-content" style="min-height: 80vh;">
    <h2 class="pb-2 text-danger">Merge PDF</h2>
    
    <form action="" method="POST" enctype="multipart/form-data">
        <div class="form-group mt-4 bg-dark text-white p-3 rounded-3 border-0">
            <input type="file" name="files" id="files" accept=".pdf" required multiple onchange="handleFileSelect(event)">
        </div>

        <div id="preview-container" class="m-2 row d-flex align-items-center justify-content-center" style="min-height: 50vh;background-color: ghostwhite;">
            <div class="col-md-4 col-sm-6 col-12 mb-4">
                <h4>No files uploaded</h4>
            </div>
        </div>

        {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}

        <button type="submit" class="btn btn-danger">Merge PDF's</button>
        <button type="reset" class="btn btn-secondary">Cancel</button>
    </form>
</div>

<script>
   
</script>

{% endblock %}
