{% extends 'layout.html' %}
{% block content %}
<div class="container main-content">
    <h2 class="pb-2 text-danger">Remove Pages</h2>
    <form action="" method="POST" enctype="multipart/form-data">
        <div  class="form-group mt-4 bg-dark text-white p-3 rounded-3 border-0">
            <input type="file" name="file" id="files" accept=".pdf" required>
        </div>

        <div id="preview-container" class="mt-4 mb-4 row justify-content-center" style="min-height: 50vh;">
            <div class="col-md-4 col-sm-6 col-12 mb-4">
                <h4>No files uploaded</h4>
            </div>
        </div>

        {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}

        <div  class="form-group mt-4 bg-dark text-white p-3 rounded-3 border-0">
            <label for="">Enter page range(s) to be removed</label>
            <p class="text-white">(E.g.: 1-5,6,7-8,9)</p>
            <input type="text" name="range" id="">
        </div>
        
        <button type="submit" class="btn btn-danger">Remove Pages</button>
        <button type="reset" class="btn btn-secondary">Cancel</button>
    </form>
</div>


{% endblock %}